{{- range .Values.regionalDR }}
{{ $clusterSet := .name }}
{{- range list .clusters.primary .clusters.secondary }}
{{ $cluster := . }}
---
apiVersion: ramendr.openshift.io/v1alpha1
kind: S3Profile
metadata:
  name: {{ $cluster.name }}-s3-profile
  namespace: {{ $cluster.name }}
  labels:
    purpose: regionalDR
    vendor: OpenShift
    cluster.open-cluster-management.io/clusterset: {{ $clusterSet }}
    clusterGroup: {{ $cluster.clusterGroup }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  s3CompatibleEndpoint: https://s3.{{ $cluster.install_config.platform.aws.region }}.amazonaws.com
  s3Region: {{ $cluster.install_config.platform.aws.region }}
  s3Bucket: {{ $cluster.name }}-dr-bucket
  s3SecretRef:
    name: {{ $cluster.name }}-s3-secret
    namespace: {{ $cluster.name }}
{{- end }}
{{- end }}
