{{- range .Values.regionalDR }}
{{ $clusterSet := .name }}
{{- range list .clusters.primary .clusters.secondary }}
{{ $cluster := . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $cluster.name }}-s3-secret
  namespace: {{ $cluster.name }}
  labels:
    purpose: regionalDR
    vendor: OpenShift
    cluster.open-cluster-management.io/clusterset: {{ $clusterSet }}
    clusterGroup: {{ $cluster.clusterGroup }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ "placeholder-access-key" | b64enc }}
  AWS_SECRET_ACCESS_KEY: {{ "placeholder-secret-key" | b64enc }}
{{- end }}
{{- end }}
